@import "tailwindcss";
@plugin "daisyui";
@plugin "fluid-tailwindcss";

@font-face {
  font-family: "Regitha Script";
  src: url("../assets/fonts/Regitha Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-regitha: "Regitha Script", serif;
}

@font-face {
  font-family: "Beezle";
  src: url("../assets/fonts/Beezle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-beezle: "Beezle";
}

/* Flip Card Styles */
.flip-card-container {
  perspective: 1000px;
  width: 128px;
  height: 128px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card.flipped {
  animation: flipCard forwards;
}

.flip-card.flip-back {
  animation: flipCardReverse forwards;
}

@keyframes flipCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipCardReverse {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
